*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
body{
  font-family: 'Pacifico', cursive;
  font-size: 1.7rem;
  background-image: linear-gradient(to right, #00ff40 0%, #0040ff 25%, #ffff00 50%, #3d5c5c 75%, #ff1a75 100%);
  color: #fff;
  padding: 4rem;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav h2{
  font-size: 3.5rem;
}
.user-input{
  width: 40%;
  text-align: center;
}
.user-input input{
  outline: none;
  width: 50%;
  padding: .8rem .5rem;
  border-radius: 6px;
  color: #454545;
  transition: all .2s ease-in;
}
.user-input input:focus{
  width: 60%;
  border: .3rem solid #00ff40;
}
.user-input button{
outline: none;
background-color: #eee;
border-radius: .5rem;
padding: .8rem .5rem
}
.to-do-items{
  background-color: #fff;
  width: 70%;
  padding: 1.2rem;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 1.2rem;
  color: #eee;
  transition: all .3s ease-in;
  display: flex;
  justify-content: space-between;
}
.to-do-items:hover{
  box-shadow: 5px 5px 5px #00ff40;
}
.to-do-container{
  padding: 15rem 0;
}
.icons{
  display: inline-block;
}
.text{
  display: inline-block;
  font-size: 1.5rem;
  color: #454545;
  text-transform: uppercase;
}
.icons svg{
  fill: #454545;
}
.icons svg:hover{
  fill:#ff1a75;
}
.strike-through{
  text-decoration: line-through;
  color: #ff1a75;
}
.day{
  letter-spacing: .2rem;
  font-size: 2.2rem;
}
